.home-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
    
}



.home-container a {
    font-size: 20px;
    padding: 7px 21px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: purple;

}

.home-container>p {
    font-size: 0.8rem;
}

.home-container a:hover {
    background-color: rgb(205, 175, 5);
}


@media (max-width: 480px) {
    .home-container a {
        font-size: 15px;
        padding: 5px 15px;
    }
}
