
.summarized-stats-container{
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin: 0px 15px 15px 15px;

    /* From https://css.glass */
background: rgba(230, 219, 219, 0.2);
border-radius: 0 16px 16px 0;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(230, 219, 219, 0.3);
    
}

  table {
    width: 100%;
    border-collapse: collapse;

    font-size: 	0.8rem;
  }
  
  table th,
  table td {
    padding: 5px;
    text-align: left;
  }
  
  table th {
    background-color: gold;
    color: white;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;

  }
  
  table tr:hover {
    background-color: #ddd;
  }


  @media (max-width:480px) {
    .summarized-stats-container {
      margin: 0;
    }
    table th,
    table td {
      padding: 5px;
    }

  }
  